.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111111;
    height: 100px;
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0 2rem;
  }
  
  .toolbar__logo {
    margin-left: 1rem;
    margin-bottom: 5px;
  }
  
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation-items li {
    padding: 0px 12.5px 0px 12.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

  }
  
.toolbar__logo {
    margin-left: 0;
}

button {
  display: inline-block;
  height: 100px;
  color: white;
  text-decoration: none;
  background-color: #111111;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #D1363A;
  animation: none;
}

