.x1980{
    display: block;
    height: 75%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: transparent;
}

.spacer{
    height: 0px;
}

@media all and (max-width: 800px){
    .spacer{
        height: 200px;
    }
}