#bannerToContent {
    width: 100%;
    height: 30px;
    background-image: url("./bannerToContent.png");
}

#skillsDesc {
    display: flex;  
    background-color: #E7E6E3;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
}
#skillSplit{
    height: 10px;
}
#base{
    flex: 2;
}